<% if user_signed_in? && !current_user.is_teacher && @application.email %>
  <div id="form-wrapper">
    <h2>Edit Your Application</h2>

    <%= form_with(model: @application, local: true) do |f| %>
      <p>
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %><br>
      </p>

      <p>
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %><br>
      </p>

      <p>
        <%= f.label :email %><br>
        <%= f.email_field :email, :value => current_user.email %><br>
      </p>

      <p>
        <%= f.label :courses %><br>
        <%= f.collection_select :courses, Course.order(:section_number), :section_number, :section_number, include_blank: true %>

      </p>

      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
<% else %>
  <p>Must have an active application to edit it</p>
<% end %>