
<% if user_signed_in? && !current_user.is_teacher %>
<div id="form-wrapper">
    <h2>Apply to Become a Grader</h2>
	<%#Application for registration for things - when user%>
    <%= form_with scope: :application, url: courses_path, local: true do |form| %>
        <p>
        <%= form.label :first_name %><br>
        <%= form.text_field :first_name %>
        </p>

        <p>
        <%= form.label :last_name %><br>
        <%= form.text_field :last_name %>
        </p>

        <p>
        <%= form.label :schedule %><br>
        <%= form.text_field :schedule %>
        </p>

        <p>
        <%= form.label :courses %><br>
        <%= form.text_field :courses %>
        </p>

        <p>
        <%= form.submit %>
        </p>
    <% end %>
</div>
<% else %> <%#Not signed in or not a student%>
	<p>Error: You are not a student. Click <a href="/">here</a> to go back to the homepage.</p>
<% end %>
